@font-face {
    font-family: "dixit";
    src: url(F:\Dixit\Training\10-08-2021\WindSong);
}
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'dixit';  
}  
.login{  
        width: 300px;  
        overflow: hidden;  
        margin: auto;  
        font-family: 'dixit';
        padding: 50px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
.signup{  
    width: 300px;  
    overflow: hidden;  
    margin: auto;  

    padding: 50px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
h2{  
    text-align: center;  
    color: #374647;  
    padding: 25px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none; 
    font-family: 'dixit'; 
    border-radius: 30px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 30px;  
    padding-left: 8px;  
      
}  
#RePass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 30px;  
    padding-left: 8px;  
      
}  
#email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 30px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 310px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 15px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
h3{
    color: rgb(22, 22, 95);
}
a{  
    float: left;  
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid transparent;
    transition: 0.6s ease;
}  