<div class="post">
				<h2 class="title"><a href="#">Information</a></h2>
				<div style="clear: both;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<table align="center" border="2px" style="height: 300px; width:550px">
						<tbody><tr>
							<th>Name</th>
							<td>Dixit Chotaliya</td>
						</tr>
						<tr>
							<th>D.O.B</th>
							<td>13-01-2000</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>7359259628</td>
						</tr>
						<tr>
							<th>E-mail</th>
							<td>dixitchotaliya05@gmail.com</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>Shadhana main road,Rajkot-360002</td>
						</tr>
					</tbody></table>
				</div>
			</div>