<div class="post">
				<h2 class="title"><a href="#">Contact me</a></h2>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p><b>Phone no. : 7359259628</b> </p>
                    <p><b>E-mail : dixitchotaliya05@gmail.com</b> </p><br>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7384.301567041754!2d70.80821619999999!3d22.272277400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1628783473952!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>