<html>
<form method="post">
    Maths: <input type="text" name="txt1"><br><br>
    English: <input type="text" name="txt2"><br><br>
    Biology: <input type="text" name="txt3"><br><br>
    Physics: <input type="text" name="txt4"><br><br>
    Chemistry: <input type="text" name="txt5"><br><br>
    <input type="submit">
</form>
<a href="marksheet"><input type="button" value="marksheet" ></a>
<a href="login"><input type="button" value="login" ></a>
<a href="signup"><input type="button" value="signup" ></a>
<a href="/"><input type="button" value="index" ></a>
<a href="form"><input type="button" value="form page" ></a>
</html>