<h1><b>Sum = <%= mysum %></b></h1><br>
<h1><b>Average= <%= myavg %></b></h1><br>
<h1><b>Grade= <%= mymsg %></b></h1><br>

<a href="marksheet"><input type="button" value="marksheet" ></a>
<a href="login"><input type="button" value="login" ></a>
<a href="signup"><input type="button" value="signup" ></a>
<a href="/"><input type="button" value="index" ></a>
<a href="form"><input type="button" value="form page" ></a>