<h1><b>Sign Up Form and Diplay value</b></h1><br>

<b>User Name : <%= mya %></b><br>
<b>Password : <%= myb %></b><br>

<a href="marksheet"><input type="button" value="marksheet" ></a>
<a href="login"><input type="button" value="login" ></a>
<a href="signup"><input type="button" value="signup" ></a>
<a href="/"><input type="button" value="index" ></a>
<a href="form"><input type="button" value="form page" ></a>