<html>
    <body>
        <body>
            <a href="http://renishcharaniya.me"><img id="userPhoto" src="../images/profile_pic.png" alt="User Photo"></a>
            
            <a href="http://renishcharaniya.me" id="userName">RENISH CHARANIYA</a>
            <div id="links">
                <a class="link" href="https://www.linkedin.com/in/renish-charaniya">LinkedIn</a>
                <a class="link" href="https://www.github.com/renish-charaniya">GitHub</a>
                <a class="link" href="https://www.twitter.com/renish_charania">Twitter</a>
                <a class="link" href="https://www.pinterest.com/renish_charaniya">Pinterest</a>
                <a class="link" href="https://www.instagram.com/renish_charaniya">Instagram</a>
                <a class="link" href="https://www.facebook.com/renish.charaniya">Facebook</a>
                <a class="link" href="https://open.spotify.com/user/o1ido9zylrcpzqk6xnfzxqju3/playlist/14hgbLu20dlN40rrXEqyAQ?si=EAlxmIZOT9eTsov9l4Y_jA">Spotify Playlist</a>
                <a class="link" href="https://vm.tiktok.com/QEYydx/">TikTok</a>
                <a class="link" href="https://www.snapchat.com/add/renish999sroyce">Snapchat</a>
                <a class="link" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=renish9923@gmail.com">Gmail</a>
        
            </div>
        
        
            <div class="footer">
                ❤
            </div>
        
            <!-- Javascript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="index.js"></script>
        
        </body>
    </body>
</html>