<html>
    <body>
        <center><h1>Dixit Chotaliya</h1></center>
        <hr>
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/form">Form</a> | <a href="/formMulter">Form upload using multer</a>

        <hr>
        {{{body}}}
        <footer>Website Developed by Prince</footer>
    </body>
</html>