<html>
    <body>
        <form action="/dd" method="GET">
            Name : <input type="text" name="name" placeholder="Enter a name">
        Ph no : <input type="text" name="phno" placeholder="Enter a phonr number">
        <input type="submit" name="submit" value="submit">
        </form>
    </body>
</html>